body {
    color: #3c4043;
    background: #ffff;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin: 16px;
}

.links > a {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    font-size: 13px;
}

.links > a:hover {
    text-decoration: underline;
    color: dodgerblue;
}

img {
    width: 272px;
    height: 92px;
    margin: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.form {
    display: flex;
    flex-direction: column;
    margin: 16px;
    gap: 16px;
    width: 584px;
}

.textbox > input {
    border: none;
    outline: none;
    background: transparent;
    border-radius: 30px;
    padding: 10px 15px;
    transition: background-color 0.3s;
    width: 584px;
}

.textbox > input:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.textbox > input:hover {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.textbox {
    display: flex;
    justify-content: flex-start;
    cursor: auto;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin: 0 auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    gap: 8px;
}

@media (max-width: 600px) {
  .textbox {
    max-width: 80%;
  }
}

.submit > input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.submit > input:hover {
    border-color: rgb(195, 195, 195);
}

/* Advanced search page styling */
.header {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin: 16px;
} 

#search-lbl {
    margin: 0;
    padding: 0;
    border: 0;
    color: #d93025;
}

#keyword {
    margin: 0 26px;
    padding: 0;
    border: 0;
}

.container {
   margin: 0 16px;
}

.col-5 > input {
    width: 100%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
}

.col-2 > p {
    font-size: 13px;
    white-space: nowrap;
}

#adv-btn {
    background-color: #4d90fe;
    color: #fff;
    border: 1px solid #3079ed;
    float: right;
    padding: 8px 12px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    outline: 0;
    margin: 12px 0;
}